%h1
  = @track
  tunes
%p
  The search query is
  %b
    = @track
.tracks
  %br
  %audio{:preload => ""}
  .track-info
    .i-track-title
    .i-play-count
    .i-time-ago
  .player-controls
    %a{:href => "#", :class => "previous"}
      previous
    %a{:href => "#", :class => "next"}
      next
  %br
  .row
    - @tracks.each do |track|
      - if (track.artwork_url != nil) && (track.stream_url != nil)
        .span3
          .a-box
            %a{"data-src" => "#{track.stream_url}?client_id=f837b00cd8d79383183d405b33a8a25d", :href => "#"}
              %img{:src => "#{track.artwork_url.sub("large","t300x300")}"}
              %img{:src => "/assets/play.png", :class => "playimage"}
              %img{:src => "/assets/pause.png", :class => "pauseimage"}
              %img{:src => "/assets/playing.png", :class => "playingimage"}
          .meta-data{:style => "display:none;"}
            %p{:class => "track-title"}
              = track.title
            %p{:class => "play-count"}
              = track.playback_count
            %p{:class => "url"}
              = track.permalink_url
            - if track.release_day != nil
              - raw_date = (track.release_day.to_s + "/" + track.release_month.to_s + "/" + track.release_year.to_s)
              - date = DateTime.strptime(raw_date, '%d/%m/%Y')
              - timeago = time_ago_in_words(date)
              %p{:class => "timeago"}
                = raw_date

  %br
  %br
