%h1
  = @track
  tunes
%p
  The search query is
  %b
    = @track
.tracks
  %br
  %audio{:preload => ""}
  .currently-playing
  .player-controls
    %a{:href => "#", :class => "previous"}
      previous
    %a{:href => "#", :class => "next"}
      next
  %br
  %ol
    - @tracks.each do |track|
      - if track.stream_url != nil
        %li
          %a{"data-src" => "#{track.stream_url}?client_id=f837b00cd8d79383183d405b33a8a25d", :href => "#"}
            = track.title
        = track.permalink_url
