!!!
%html
  %head
    %title On A Cloud
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700"
    = javascript_include_tag "application"
    = javascript_include_tag "audio.min.js", :type => "text/javascript"
    = javascript_include_tag "pfunction"
    = csrf_meta_tags
  %body
    .container
      = yield
